<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ripost">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ripost">

        <service
            android:name=".utils.notifications.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".utils.notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.splashScreen.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.home.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.notification.NotificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.camera.CameraActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.welcome.WelcomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.signIn.SignInActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.signUp.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.camera.UploadActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.camera.PreviewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.profile.ViewProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Swipe.Back.NoActionBar"/>

    </application>



</manifest>